---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import ContactMe from "../components/ContactMe.astro";

changeLanguage("en");
---

<Layout title={t("title")}>
  <section class="presentation" title="presentation" id="home">
    <Hero />
    <AboutMe />
  </section>
  <section class="projects" title="Projects" id="projects">
    <Projects />
  </section>
  <section title="Contact-me" id="contact" class="contact-me">
    <ContactMe />
  </section>
</Layout>

<style>
  .presentation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0;
  }
  .contact-me {
    margin: 0 0 1rem 0;
  }

  @media (min-width: 768px) {
    .presentation {
      grid-template-columns: minmax(420px, 700px) minmax(200px, 272px);
      gap: 2rem;
    }
    .projects {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 2rem 0;
    }
    .contact-me {
      margin: 0 0 2rem 0;
    }
  }
</style>
