---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { t, changeLanguage } from "i18next";
import Link from "../components/Link.astro";

changeLanguage("en");
---

<Layout title="Welcome to Astro.">
  <section class="presentation" title="presentation">
    <Card
      title={t("presentation.title")}
      body={t("presentation.body")}
      size="large"
    >
      <Link href="/docs/getting-started">Get started</Link>
      <Link href="/docs/getting-started" type="info">Get started</Link>
      <Link href="/docs/getting-started" type="light">Get started</Link>
    </Card>
  </section>
</Layout>

<style>
  .presentation {
    grid-column: 1 / 5;
  }
</style>
