---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { t, changeLanguage } from "i18next";
import Link from "../../components/Link.astro";
import Github from "../../components/icons/Github.astro";
import Linkedin from "../../components/icons/Linkedin.astro";

changeLanguage("ca");
---

<Layout title="Welcome to Astro.">
  <section class="presentation" title="presentation">
    <Card
      title={t("presentation.title")}
      body={t("presentation.body")}
      size="large"
      backgroundType="gradient"
      backgroundColors={{primary: "var(--secondary-hex)", secondary: "var(--accent-hex)"}}
    >
    <div class="buttons">
      <Link href="/docs/getting-started" size="large">Get started</Link>
      <Link href="/docs/getting-started" type="light" size="large" icon><Github/></Link>
      <Link href="/docs/getting-started" type="light" size="large" icon><Linkedin/></Link>
    </div>
    </Card>
  </section>
  <section class="about-me" title="about-me">
    <Card backgroundType="image" backgroundImage="/images/profile_picture.jpeg">
      
    </Card>
  </section>
</Layout>

<style>
  .presentation {
    position: relative;
    overflow: hidden;
    border-radius: 0.6rem;
    order: 2;
  }



  .about-me {
    position: relative;
    overflow: hidden;
    border-radius: 0.6rem;
    order: 1;
    min-height: 500px;
  }

   @media (min-width: 768px) {
    .presentation {
      order: 1;
    }
    .about-me {
      order: 2;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
</style>
