---
export interface Props {
  title?: string
  body?: string
  size?: "small" | "medium" | "large"
  backgroundType?: "color" | "gradient" | "image"
  backgroundImage?: string
  backgroundColors?: {
    primary: string
    secondary: string
  }
}

const { title, body, size = "medium", backgroundType = "color", backgroundColors = {primary: "var(--secondary-hex)", secondary: "var(--accent-hex)"}, backgroundImage = "https://placehold.co/600x500" } = Astro.props
---

{backgroundType === "gradient" && (
  <span class="card-circle-2"  />
  <span class="card-circle-1" />
)}
<article class={`link-card ${size} ${backgroundType === "image" && "link-image"}`}>
  {title && <h2>
    {title}
  </h2>}
  {body && <h3>
    {body}
  </h3>}
  <div class="link-card__body">
    <slot />
  </div>
  <div class="link-card__extended">
    onclick body
  </div>
</article>
<style define:vars={{ primaryColor: backgroundColors.primary , secondaryColor: backgroundColors.secondary, imageUrl: `url("${backgroundImage}")` }}>
  .link-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(218, 227, 229, 15%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
  }
  .card-circle-1 {
    position: absolute;
    top: -327px;
    right: 0;
    width: 380px;
    height: 380px;
    border-radius: 100%;
    background: var(--primaryColor);
    box-shadow: 0px 0px 200px 200px var(--primaryColor);
    opacity: 0.5;
  }
  .card-circle-2 {
    position: absolute;
    bottom: -147px;
    right: -18px;
    width: 427px;
    height: 343px;
    border-radius: 100%;
    background: var(--secondaryColor);
    box-shadow: 0px 0px 200px 200px var(--secondaryColor);
    opacity: 0.5;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  h3 {
    margin-top: 1.5rem;
  }

  @media (min-width: 992px) {
    h3 {
      margin-top: 3rem;
    }
  }
  

  .large h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .large h3 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  .link-card__body {
    margin-top: auto;
  }

  .link-card__extended {
    display: none;
  }

  .link-image {
    background-image: var(--imageUrl);
    background-size: cover;
    background-position: center;
  }
</style>
