---
export interface Props {
  title: string
  body: string
  size?: "small" | "medium" | "large"
}

const { title, body, size = "medium" } = Astro.props
---

<article class="link-card">
  <h2>
    {title}
  </h2>
  <h3>
    {body}
  </h3>
  <div class="link-card__body">
    <slot />
  </div>
</article>
<style>
  .link-card {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(218, 227, 229, 15%);
    border-radius: 0.6rem;
    backdrop-filter: blur(10px);
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    z-index:1;
  }

  .link-card::before {
    content: "";
    position: absolute;
    top: -327px;
    right: 0;
    width: 380px;
    height: 380px;
    background-color: red;
    border-radius: 100%;
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  h3 {
    margin-top: 0.5rem;
    color: #444;
  }
</style>
