---
import Close from "./icons/Close.astro"
---

<div class="dialog">
  <div class="dialog__close">
    <Close width="100%" height="100%" />
  </div>
  <div class="dialog__body">
    <slot />
  </div>
</div>

<style>
  .dialog {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import { openDialog } from "../scripts/dialogPortal"
  const $$ = (element: string) => document.querySelectorAll<HTMLElement>(element)
  const cards = $$(".card-clickable")

  if (cards.length > 0) {
    cards.forEach((card: HTMLElement) => {
      card.addEventListener("click", (e) => {
        if (e.currentTarget !== card) return
        const dialog = card.querySelector<HTMLElement>(".dialog")
        if(!dialog) throw new Error("Dialog not found")
        openDialog(dialog)
      })
    })
  }
</script>
