---
import { t } from "i18next"
import LanguageSelector from "./LanguageSelector.astro";
import MenuItem from "./MenuItem.astro";
---

<header>
  <h1>Gerard Escòlies Martínez</h1>
  <nav>
    <ul>
      <li class="hide-mobile">
        <MenuItem href="#about" text={t("header.home")}/>
      </li>
      <li class="hide-mobile">
        <MenuItem href="#projects" text={t("header.projects")}/>
      </li>
      <li class="hide-mobile">
        <MenuItem href="#contact" text={t("header.contact")}/>
      </li>
      <li>
        <LanguageSelector class="languages" />
      </li>
    </ul>
  </nav>
</header>

<style>
  h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }

  h1::before {
    content: "👋";
    margin-right: 0.5rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .hide-mobile {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 768px) {
    .hide-mobile {
      display: block;
      visibility: visible;
    }
  }
</style>
