---
import { t } from "i18next"
import { LanguageSelector } from "astro-i18next/components"
---

<header>
  <h1 class="h1">Gerard Escòlies Martínez</h1>
  <nav>
    <ul>
      <li class="hide-mobile">
        <a href="#">{t("header.home")}</a>
      </li>
      <li class="hide-mobile">
        <a href="#projects">{t("header.projects")}</a>
      </li>
      <li class="hide-mobile">
        <a href="#contact">{t("header.contact")}</a>
      </li>
      <li>
        <LanguageSelector class="languages" />
      </li>
    </ul>
  </nav>
</header>

<style>
  .h1 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }

  .h1::before {
    content: "👋";
    margin-right: 0.5rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #000;
    padding: 0.5rem 1rem;
    line-height: 0.8rem;
    transition: background-color 0.2s ease-in-out;
  }

  a.active {
    font-weight: 700;
  }

  a:hover {
    background-color: #f0f0f0;
    border-radius: 0.5rem;
  }

  .hide-mobile {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 768px) {
    .hide-mobile {
      display: block;
      visibility: visible;
    }
  }
</style>
