<header>
  <h1 class="h1">Gerard Escòlies Martínez</h1>
  <nav>
    <ul>
      <li>
        <a href="#" class="active">Home</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact" class="active">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #000;
    padding: 0.5rem 1rem;
    line-height: 0.8rem;
  }

  a.active {
    font-weight: 700;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
  }
</style>
