---
import { t } from "i18next";
import Card from "./Card.astro";
import ContactButtons from "./ContactButtons.astro";


---

<div class="hero">
  <Card
    title={t("presentation.title")}
    body={t("presentation.body")}
    size="large"
    backgroundType="organic-gradient"
    backgroundColors={{
      primary: "var(--secondary-hex)",
      secondary: "var(--accent-hex)",
    }}
  >
    <ContactButtons />
  </Card>
</div>


<style>
  .hero {
    order: 2;
  }

  @media (min-width: 768px) {
    .hero {
      order: 1;
    }
  }
</style>