---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  text: string
}

const { text, ...attributes } = Astro.props
---

<a {...attributes}>
  {text}
</a>

<style>
  a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: background-color 200ms ease-in-out, text-decoration-color 300ms,
      var(--transition-color);
    display: inline-block;
  }

  a.active {
    font-weight: 700;
  }

  a:hover {
    background-color: var(--background-hover);
    border-radius: 0.5rem;
  }
</style>
