---
import Plus from "./icons/Plus.astro"

export interface Props {
  color?: string
  size?: string
  text: string
}

const { color = "black", text } = Astro.props

//todo: text comes from under the icon and the button size gets bigger with transition
---

<button class="link-notice" style={{ color }}>
  <div class="text">{text}</div>
  <Plus width="1rem" height="1rem" color={color} />
</button>

<style>
  .link-notice {
    display: block;
    padding: 0.5rem 0.7rem;
    border-radius: 1.3rem;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }


  @media (max-width: 767px) {
    .link-notice :global(svg) {
      margin-left: 0.2rem;
      max-width: 0.8rem !important;
      max-height: 0.8rem !important;
      min-width: 0.8rem !important;
      min-height: 0.8rem !important;
    }
  }

  .text {
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    .link-notice {
      padding: 1rem;
      border-radius: 1.5rem;
      max-width: 3rem;
      max-height: 3rem;
      transition: max-width 0.2s ease-in-out;
    }

    :global(.card):hover .link-notice {
      max-width: 100%;
      justify-content: flex-end;
    }
    .text {
      margin-top: -0.1rem;
      width: 0;
      overflow: hidden;
      --right-position: -100%;
      right: var(--right-position);
      max-height: 1.375rem;
      font-size: 1rem;
    }

    :global(.card):hover .text {
      width: 100%;
      margin-right: 0.5rem;
    }
  }
</style>
