---
import { t } from "i18next"
import Card from "./Card.astro"
import type { MarkdownInstance } from "astro";

interface Project {
  title: string
  brief: string
  color: string
  opacity: number
  image: string
  position: string
}

export interface Props {
  project: MarkdownInstance<Record<string, any>>,
}

const {
  project,
}: Props = Astro.props

const frontmatter = project.frontmatter as Project
const Content = project.Content
---

<Card
  title={frontmatter.title}
  body={frontmatter.brief}
  backgroundType="image-color"
  backgroundColors={{
    primary: frontmatter.color,
    opacity: frontmatter.opacity,
  }}
  backgroundImage={frontmatter.image}
  backgroundImagePosition={frontmatter.position as "center" | "left" | "right"}
  clickable
  content={t("projects.readMore")}
>
  <div slot="dialog-content">
    <div class="dialog__content">
      <Content />
    </div>
  </div>
</Card>
