.dialog-portal {
  position: fixed;
  inset: 0px;
}

/* OVERLAY */

.dialog-portal__overlay {
  position: absolute;
  inset: 0px;
  background-color: var(--background-overlay);
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
  transition: var(--transition-background);
}

.dialog-portal--close .dialog-portal__overlay {
  animation: fadeOut 0.2s ease-in-out forwards;
}

/* CONTAINER */

.dialog-portal__body {
  position: relative;
  inset: 52px 0px 52px;
  margin: 0 auto;
  width: calc(100% - 2rem);
  opacity: 0;
  transform: scale(0.5);
  animation: zoomIn 0.1s ease-in-out forwards;
  height: fit-content;
}

.dialog-portal--close .dialog-portal__body {
  animation: zomeOut 0.1s ease-in-out forwards;
}

@media (min-width: 768px) {
  .dialog-portal__body {
    width: calc(100% - 4rem);
  }
}

@media (min-width: 992px) {
  .dialog-portal__body {
    max-width: calc(1100px - 6rem);
    width: calc(100% - 6rem);
  }
}

/* BODY */

.dialog-portal__body > div {
  background-color: var(--background);
  transition: var(--transition-background);
  padding: 2rem;
  max-height: calc(100vh - 104px);
  max-height: calc(100dvh - 100px);
  overflow: auto;
  border-radius: 1.5rem;
}

@media (min-width: 768px) {
  .dialog-portal__body > div {
    padding: 3rem;
  }
}

/* CLOSING BUTTON */

.dialog-portal__button-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: transparent;
  width: 2.2rem;
  height: 2.2rem;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
  color: var(--font-color);
  transition: var(--transition-color);
}

.dialog-portal__button-close:hover {
  opacity: 0.8;
}

/* ANIMATIONS KEYFRAMES */

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zomeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
