---
import Header from '../components/Header.astro'
import i18next from 'i18next';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	@import url('/styles/satoshi.css');
	:root {
		--accent: 233, 189, 21;
		--accent-hex: #FFDB59;
		--accent-hsl: 47, 100%, 67%;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), hsl(var(--accent-hsl)) 30%, white 60%);

		--font-size: 16px;
	}

	html {
		font-family: Satoshi-Variable;
		background-color: #FAFAFA;
		font-size: var(--font-size);
	}

	body {
		margin: 0 auto;
		max-width: 800px;
	}
</style>
